.ticket-heros {
  background-image: url('../../assets/grupo5.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.ticket-heros::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to bottom, 
    transparent 0%, 
    rgba(0, 0, 0, 0.4) 15%, 
    rgba(0, 0, 0, 0.8) 70%, 
    rgba(0, 0, 0, 10) 100%
  );
  pointer-events: none;
}