@import "tailwindcss";
body {
  background: black;
}
.input-field:focus {
  border-color: #a855f7;
  box-shadow: 0 0 20px rgba(168, 85, 247, 0.3);
  outline: none;
}
/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #dc2626;
  border-radius: 10px;
}
