@import "tailwindcss";

/* Custom styles can be added here */
body{
  background-image: url('./assets/festr.jpg');
  object-fit: contain;
  height: 100vh;
  width: 100%;
}
.input-field:focus {
  border-color: #a855f7;
  box-shadow: 0 0 20px rgba(168, 85, 247, 0.3);
  outline: none;
}
